run = "RAILS_ENV=development bundle exec rails server --binding=0.0.0.0 & yarn vite dev --host"


hidden = [".bundle"]
entrypoint = "app/controllers/application_controller.rb"
modules = ["bun-1.1", "nodejs-20", "ruby-3.2"]

[env]
RACK_MINI_PROFILER = "off"
PIDFILE = "/tmp/rails_server.pid"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]


[deployment]
run = "yarn vite build && RAILS_ENV=production bundle exec rails server --binding=0.0.0.0"
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80
